 @import url('https://fonts.googleapis.com/css?family=Michroma');

.content {
    width:100%;
    margin:0;
    padding:0;
    padding-left:120px;
    

}

#title {
    background-color: whitesmoke;
    height:100vh;
    overflow: hidden;
    
}

#service {
    height: 130vh;
}

#contact {
    background-color: whitesmoke;
    height: 100vh;
}

.fas {
    font-size: 50px;
}



.heading {
    font-family: 'Michroma', sans-serif;
    font-size: 50px;
}

.sub-heading, .service-heading {
    font-family: 'Michroma', sans-serif;
    font-style: italic;
    font-size:24px;
}


.text-content {
    font-family: 'Michroma', sans-serif;
    font-size:24px;
}

#service {
    background-color: #cccccc;
}

#service-content {
    padding-top: 150px;
}

.services {  
    max-width: 1000px;
    margin-bottom: 30px;
    padding-right: 30px;
}

.services-img {
    
    border: 1px solid white;
    margin-right: 15px;
}

.service-description {
    font-family: 'Michroma', sans-serif;
    font-size:18px;
    padding-top: 15px;
    padding-bottom:50px;
}

#subtitle {
    margin-top:100px;
    margin-bottom:50px;
}

#home-carousel {
    width:100vw;
}

.vertical-align {
    display: flex;
}

#contact-form {
    margin-top:50px;
    float:right;
    padding-right:100px;
    border-right: 1px solid #bbb;
}





@media only screen and (max-width: 700px) {

    .heading {
        font-size: 7vw;
    }
    
    .sub-heading {
        font-size: 4vw;
    }
    
    .text-content {
        font-size: 4vw;
    }
    
    .fas {
        font-size: 8vw;
    }
    
    .content {
        padding-left: 12vw;
    }
    
}

@media only screen and (max-width: 575px) {
    
    .heading {
        font-size: 8vw;
    }
    
    .sub-heading {
        font-size: 5vw;
    }
    
    
    #contact-form {
        margin-top:0;
        border-right: none;
        border-bottom: 1px solid #bbb;
        padding-bottom: 40px;
    }
    
    .text-content {
        padding-top: 35px;
    }
    
    #service-content {
        padding-top: 0px;
    }
   
    #service {
        height: 250vh;
    }

}
