 @import url('https://fonts.googleapis.com/css?family=Michroma');

.content {
    height:100vh;
    width:100%;
    margin:0;
    padding: 0;
    padding-left:35px;

}

.nav-item {
    width:60px;
}

.nav-link {
    color: yellow;
}

#title {
    background-color: whitesmoke;
    
}

.heading {
    font-family: 'Michroma', sans-serif;
    font-size: 50px;
}

.sub-heading {
    font-family: 'Michroma', sans-serif;
    font-style: italic;
    font-size:24px;
}

.text-content {
    font-family: 'Michroma', sans-serif;
    font-size:24px;
}

#service {
    background-color: #333333;
}

#service-content {
    padding-top: 150px;
}

.services {  
    max-width: 1000px;  
}

.services-img {
    
    border: 1px solid white;
    margin-right: 15px;
}

#contact {
    background-color: whitesmoke;
}

#subtitle {
    margin-top:100px;
    margin-bottom:50px;
}

#home-carousel {
    max-width:800px;
    width: 60vw;
}

.vertical-align {
    display: flex;
}

#contact-form {
    margin-top:50px;
    float:right;
    padding-right:100px;
    border-right: 1px solid #bbb;
}

.navbar-nav {
    background-color: whitesmoke;
    width:55px;
    border-radius:0px 0px 5px 5px;
    border-bottom: 2px solid whitesmoke;
}

.navbar-toggler-icon {
    background-color: whitesmoke;
}

ul {
   font-size: 48px;
}


@media only screen and (max-width: 700px) {

    .heading {
        font-size: 7vw;
    }
    
    .sub-heading {
        font-size: 4vw;
    }
    
    .text-content {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 575px) {
    
    .heading {
        font-size: 8vw;
    }
    
    .sub-heading {
        font-size: 5vw;
    }
    
    .service-content {
        padding-top: 10px;
    }
    
    #contact-form {
        margin-top:10px;
        border-right: none;
        border-bottom: 1px solid #bbb;
        padding-bottom: 40px;
    }
    
    .text-content {
        padding-top: 35px;
    }

}
